body{
	font: 'Raleway' , sans-serif;
	color: rgba(0,0,0,5);
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 5px;
	top: 15%;
	/* background: linear-gradient(to right,#3eadcf,#abe9cd); */
	background: linear-gradient(to right ,#f6fba2, #20ded3);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h1{
	font: 600 3.5em 'Raleway',sans-serif;
	color: rgba(0,0,0,5);
	text-align: center;
    width:100%;
}
h3{
	font:900 1em 'Raleway' , sans-serif;
	letter-spacing: 0.01em;
	text-transform: none;
}

.result-content {
	margin: 3rem 1rem 1rem 1rem;
	height: 4rem;
	width: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result-content button {
	margin: 1rem;
	padding: 0.2rem;
	background: transparent;
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result-content button i {
	font-size: 0.9rem;
}