body{
	font-family: 'Poppins', sans-serif;
	color: rgba(0,0,0,5);
	text-align:center;
	letter-spacing: 5px;
	top: 15%;
	/* background: linear-gradient(to right,#3eadcf,#abe9cd); */
	background: linear-gradient(to right ,#f6fba2, #20ded3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h1{
	font-size: 3rem;
	font-weight: 500;
	color: rgba(0,0,0,5);
	text-align: center;
    width:100%;
	text-transform: uppercase;
}
h3{
	letter-spacing: 0.01em;
	text-transform: none;
	font-weight: 400;
}
.main-content h2 {
	font-family: 'Source Code Pro', monospace;
}
.result-content {
	margin: 3rem 1rem 1rem 1rem;
	height: 4rem;
	width: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result-content .copy-to-clipboard button {
	margin: 1rem;
	padding: 0.2rem;
	background: transparent;
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result-content .copy-to-clipboard button i {
	font-size: 0.9rem;
}

/* styling the copy to clipboard message */
.copy-to-clipboard {
	position: relative;
	display: inline-block;
}
#copyText {
  visibility: hidden;
  width: 50px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  /* left: 50%;
  margin-left: -75px; */
  opacity: 0;
  transition: opacity 0.3s linear;
}
#copyText::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
.copy-to-clipboard:hover #copyText {
  visibility: visible;
  opacity: 1;
}